* {
background-color: rgb(253, 251, 251);
}

#cabecalho {
top: 0;
background-color: aqua;
padding: 25px;
position:fixed;
z-index: 1;

}

#titulo {
text-align: center;
background-color: aqua;
}

#subtitulo {
text-align: center;
background-color: aqua;
} 

#minha_foto{
width: 200px;
position: absolute;
padding: 100px ;
background-color: pink;
}

ul {
position:absolute;
padding: 100px 50px 50px 400px;
}
