* {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  top: 0;
  position:fixed;
}

#titulo {
  text-align: center;
  background-color: aqua;
}

#subtitulo {
  text-align: center;
  background-color: aqua;
}

#minha_foto {
  width: 200px;
}

#licoes_aprendidas { 
  color:black;
}

#container-cabecalho {
  font-size: 22px;
  font-variant-caps: all-small-caps;
  line-height: 10px;

}